.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Tag .Tag-name,.Tag-desc,.Tag-example {
  padding: .5rem;
}

.Tag .Tag-name{
  align-self: center;
  background-color: steelblue;
  color: ivory;
}

.Tag .Tag-desc {
  display: none;
  background-color: goldenrod;
}

.Tag .Tag-example {
  display: inline;
  background-color: plum;
}

.Tag:hover .Tag-desc {
  display: inline;
}
